In [1]:
import pandas as pd

In [ ]:
# Re-align GPT2 columns
# Filter end/stat of sentence tokenz
# Then run the CogSci allignment script

In [97]:
#Re-align gpt2 columns so that single tokens are on each column
def realign_gpt2(gpt2):
    gpt2 = gpt2.values.tolist()
    temp = []
    for tok in gpt2:
        if (tok[2][0] == "Ä ") or (tok[1] == 1):
            if tok[1] == 1:
                temp.append([tok[2], tok[3]])
            else:
                temp.append([tok[2][1:], tok[3]])

        else:
            temp[len(temp)-1][0] += tok[2]
            temp[len(temp)-1][1] += tok[3]
    return pd.DataFrame(temp, columns=["token", "surprisal"])

In [142]:
ref = pd.read_csv("../data/sample_suites/test_items.csv", header=0, names=["test", "item", "condition", "region", "token"])
grnn = pd.read_csv("../data/sample_suites/model_output/grnn_output.txt", sep = "\t")[["token", "surprisal"]]
jrnn = pd.read_csv("../data/sample_suites/model_output/jrnn_output.txt", sep = "\t")[["token", "surprisal"]]
gpt2 = pd.read_csv("../data/sample_suites/model_output/gpt2_output.txt", sep = "\t")
gpt2 = realign_gpt2(gpt2)
ngram = pd.read_csv("../data/sample_suites/model_output/ngram_output.txt", sep = "\t")[["token", "surprisal"]]

In [143]:
# Remove all of the eos tokenization
eos_toks = set(["<eos>", "</s>", "<S>", "</S>"])    

grnn = grnn[~grnn.token.isin(eos_toks)]
jrnn = jrnn[~jrnn.token.isin(eos_toks)]
gpt2 = gpt2[~gpt2.token.isin(eos_toks)]
ngram = ngram[~ngram.token.isin(eos_toks)]

In [144]:
# Harmonize
print(len(ref))
print(len(grnn))
print(len(gpt2))
print(len(jrnn))
print(len(ngram))

print(ref.values.tolist()[0])
print(jrnn.values.tolist()[0])

9480
9480
9480
9480
9480
['basic_object', 1, 'what_nogap', 'prefix', 'I']
['I', 17.757675]

In [145]:
ref = ref.join(jrnn, lsuffix="", rsuffix="_jrnn")
ref = ref.join(grnn, lsuffix="", rsuffix="_grnn")
ref = ref.join(gpt2, lsuffix="", rsuffix="_gpt2")
ref = ref.join(ngram, lsuffix="", rsuffix="_ngram")
ref.head()

,test,item,condition,region,token,token_jrnn,surprisal,token_grnn,surprisal_grnn,token_gpt2,surprisal_gpt2,token_ngram,surprisal_ngram
0,basic_object,1,what_nogap,prefix,I,NaN,NaN,I,0.000000,I,0.000000,i,8.92268
1,basic_object,1,what_nogap,prefix,know,I,17.757675,know,6.278279,know,8.975686,know,6.35939
2,basic_object,1,what_nogap,comp,what,know,9.554409,what,4.561375,what,4.586013,what,4.42758
3,basic_object,1,what_nogap,apposotive,with,what,3.134960,with,12.213197,with,12.771708,with,14.39000
4,basic_object,1,what_nogap,apposotive,gusto,with,11.039760,<unk>,4.629023,gusto,19.519503,<unk>,5.65212

In [146]:
ref.tail()

,test,item,condition,region,token,token_jrnn,surprisal,token_grnn,surprisal_grnn,token_gpt2,surprisal_gpt2,token_ngram,surprisal_ngram
9475,basic_subject,50,that_gap,np3,kind,the,2.988389,her,5.395886,kind,13.730977,her,7.03487
9476,basic_subject,50,that_gap,np3,words,professor,9.337334,friend,9.232484,words,0.336120,friend,9.08330
9477,basic_subject,50,that_gap,end,last,over,9.035120,in,6.362570,last,9.679579,in,6.88137
9478,basic_subject,50,that_gap,end,night,the,1.635382,the,1.423266,night,1.027126,the,2.98327
9479,basic_subject,50,that_gap,end,.,summer,6.312750,rain,9.845941,.,10.273879,rain,11.88620